.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo-container {
  position: absolute;
  top: 100px;
  right: 20px;
  width: 100px;
  height: auto;
  z-index: 999;
}

.logo-container img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.logo-container-login {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px;
  height: auto;
  z-index: 999;
}

.logo-container-login img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 60px;
}

.app-footer {
  background-color: #f2f2f2;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.footer-text {
  text-align: center;
  font-size: 0.9rem;
  color: #34495e;
  margin: 5px 0;
}
